/* HEADER AND MAIN LOGO */

.resturaunt-website .mdl-layout__header,
.resturaunt-website .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.big-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70vh;
}

.big-logo div {
	margin: 0 auto;
	width: 80%;
	max-width: 600px;
}

@media (max-width: 1012px) {
	.big-logo {
		height: auto;
	}
	.big-logo div {
		padding: 4em 2em;
	}
}

.big-logo img {
	width: 100%;
}

/* MAIN */

main {
	width: 100%;
}

.main-info {
	width: 100%;
}

.main-info > .mdl-grid {
	max-width: 600px;
}

#map {
	height: 50vh;
	width: 100%;
}

.main-info_information > h5 {
		padding: 0;
		margin: 0;
}
