/* GENERAL */

.text--ja {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.container-constrainer {
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.white-divider {
    border: 0;
    height: 25px;
    background-image: url("../img/divider.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.black-divider {
    border: 0;
    height: 25px;
    background-image: url("../img/divider-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: #e2e2e2;
}

/* HEADER */

.mdl-navigation__link {
    padding: 8px 0 8px 20px !important;
}

.header-parallax {
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.header-parallax__logo {
    width: 70%;
    height: 70%;
    max-width: 700px;
    background-image: url("../img/logo-white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* BASIC-INFO */

.basic-info {
    min-height: 100vh;
    padding: 1em;
    position: relative;
    z-index: 100;
}

.basic-info p {
    font-size: 24px;
    line-height: 1.5em;
}

.basic-info i {
    font-size: 42px;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

/* ATMOSPHERE */

.atmosphere {
    position: relative;
    min-height: 100vh;
    background-image: url("../img/japanese-paper.jpg");
    background-color: white;
    z-index: 99;
}

.atmosphere .mdl-grid {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.atmosphere .mdl-card__media {
    height: 200px;
}

.tradition-card > .mdl-card__media {
  background-image: url('../img/wall-banner.jpg');
  background-size: cover;
  background-position: center;
}
.family-card > .mdl-card__media {
  background-image: url('../img/family-work.jpg');
  background-size: cover;
  background-position: center;
}
.fresh-card > .mdl-card__media {
  background-image: url('../img/fresh-in-tank.jpg');
  background-size: cover;
  background-position: center;
}

.atmosphere .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.atmosphere-card-buffer {
    height: 53px;
}

/* MENU */

.menu {
    position: relative;
    z-index: 98;
    min-height: 100vh;
    padding: 2em 1em;
}

/* GALLERY */

.gallery {
    position: relative;
    z-index: 97;
    min-height: 100vh;
}

.gallery .mdl-grid {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery__picture-1 {
    background-image: url("../img/gallery/big-set.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture-2 {
    background-image: url("../img/gallery/counter-items-1.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture-3 {
    background-image: url("../img/gallery/counter-items-2.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture-4 {
    background-image: url("../img/gallery/anago-bowl.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture-5 {
    background-image: url("../img/gallery/sushi-plate.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture-6 {
    background-image: url("../img/gallery/magically-delicious.jpg");

    background-size: cover;
    background-position: center;
}

.gallery__picture-7 {
    background-image: url("../img/gallery/side-dish.jpg");
    background-size: cover;
    background-position: center;
}

.gallery__picture--clickable {
    cursor: pointer;
}

/* RESERVATIONS */

.reservations {
    min-height: 100vh;
    padding: 1em;
    position: relative;
    z-index: 100;
}

.reservations p {
    font-size: 24px;
    line-height: 1.5em;
}

.reservations i {
    font-size: 42px;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}



.important-info i,
.important-info p {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: bold;
}

.important-info i {
    margin-bottom: 0;
    margin-right: .25em;
}

/* CHEF */

.chef {
    position: relative;
    z-index: 80;
}

.chef .chef-image {
    background-image: url("../img/kenjiro-working.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

/************************
    Sky Value Corner
*************************/
#sky-value img {
    max-width: 100%;
    border-radius: 10px;
}

.sky-value {
    min-height: 100vh;
    padding: 1em;
    position: relative;
    z-index: 100;
}

/***********************
    Catering
************************/
.catering {
    min-height: 100vh;
    padding: 5em 0;
    position: relative;
    z-index: 90;
}

#catering .document {
    padding: 0 2em;
}

#catering img {
    max-width: 100%;
    margin: 0 auto 1em auto;
    border-radius: 3px;
    display: block;
}


/* PARALLAX DIVIDER 1 */

.parallax-divider-1 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 33vh;
}

.parallax-divider-1 {
    background-image: url("../img/gallery/pano-shop.jpg");
    z-index: 40;
}

/* IMAGE OVERLAY MODAL */

.modal-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-overlay__image {
    max-height: 80%;
    max-width: 80%;
}

.modal-overlay button {
    margin: 16px;
}